$color_white: #fff;
$color_prime: #3a4052;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.hidden {
    display: none;
}

.blog-card {
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    max-width: 1000px;
    .description {
        padding: 1rem;
        background: $color_white;
        position: relative;
        z-index: 1;
        h1,
        h3 {
            font-family: Poppins, sans-serif;
        }
        h1 {
            line-height: 1;
            margin-top: 30px;
            font-size: 1.7rem;
        }
        h3 {
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $color_grey_dark;
            margin-top: 10px;
        }
        .read-more {
            text-align: right;
            a {
                color: $color_prime;
                display: inline-block;
                position: relative;
            }
        }
    }
    p {
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type {
            margin-top: 1.25rem;
        }
    }
    &:hover {
        .details {
            left: 0%;
        }
    }
}
